.flex {
  display: flex;
}

.flex-s {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-a {
  display: flex;
  align-items: center;
}

.white{
  color: #fff !important;
}

.orange{
  color: #F7711B !important;
}

.blue{
  color: #155EE8 !important;
}

.red{
  color: #FF0303;
}

.violet{
  color: #7052F8 !important;
}

.gray6{
  color: #666 !important;
}

.gray9{
  color: #999 !important;
}

.yellow{
  color: #FCDE3F !important;
}

.green{
  color: #07A533 !important;
}

.bold{
  font-weight: bold;
}

.normal{
  font-weight: normal;
}

.nowrap{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-line2{
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-line3{
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.main-content{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.min-content{
  min-width: 1280px;
}

.h-100p{
  height: 100%;
}
.w-100p{
  width: 100%!important;
}
.pointer{
  cursor: pointer;
}

.notShow {
  display: none !important;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.relative{
  position: relative!important;
}
@for $i from 10 through 40 {
  .font-#{$i} {
    font-size: $i + px !important;
  }
}

@for $i from 0 through 80 {
  // 只要双数和能被5除尽的数
  @if $i % 2 == 0 or $i % 5 == 0 {
    // 得出：margin-30或者u-m-30
    .margin-#{$i}, .m-#{$i} {
      margin: $i + px !important;
    }

    // 得出：padding-30或者p-30
    .padding-#{$i}, .p-#{$i} {
      padding: $i + px !important;
    }

    @each $short, $long in l left, t top, r right, b bottom {
      // 缩写版，结果如： m-l-30
      // 定义外边距
      .m-#{$short}-#{$i} {
        margin-#{$long}: $i + px !important;
      }

      // 定义内边距
      .p-#{$short}-#{$i} {
        padding-#{$long}: $i + px !important;
      }

      // 完整版，结果如：margin-left-30
      // 定义外边距
      .margin-#{$long}-#{$i} {
        margin-#{$long}: $i + px !important;
      }

      // 定义内边距
      .padding-#{$long}-#{$i} {
        padding-#{$long}: $i + px !important;
      }
    }
  }
}
